body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    background-color: #DAEAF1; 
    height: auto;
}
nav img{
    width: 90px;
    height: auto;
    margin-left: 20px;
    filter: saturate(150%);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;

}
nav ul li {
    display: inline;
    margin-left: 50px;
    margin-top: 10px;
}
nav ul li a {
    color: black;
    text-decoration: none;
    padding-bottom: 5px;
}
.activo{
    border-bottom: 4px solid #236477;
}
.iniciar{
    font-weight: bold; 
}
.container img{
    width: 45%;
    height: auto;
    
}
.titulo h3{
    font-size: 50px;
    font-weight: bold;
    color: #2F3367;
    margin-left: 45%;
    margin-top: -330px;
    position: absolute;
}
.linea {
    border-bottom: 2px solid #2F3367; 
    width: 100%;
    margin-bottom: 20px; 
}
.titulo p{
    color: black;
    margin-left: 45%;
    margin-top: -180px;
    position: absolute;
}
.enviar{
    position: absolute;
    margin-left: 50%;
    margin-top: -100px;
    background-color: #137DDE;
    border: transparent;
    width: 10%;
    height: 30px;
    border-radius: 6px;
}
.ins{
    color: black;
}
.slide{
    margin-top: 10px;
}
.mision, .vision, .valores {
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px; 
    margin-left: 200px;
    width: 300px; 
    display: inline-block;
    vertical-align: top; 
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.vision, .valores{
    margin-left: 10px;
}
.mision h5, .vision h5, .valores h5 {
    font-size: 20px; 
    margin-top: 0; 
    font-weight: bold; 
}
.mision p, .vision p {
    font-size: 14px;
    line-height: 1.5; 
}

.galeria img{
    width: 300px;
}
.galeria h3{
    font-family: 'Montserrat', sans-serif;
}

.contacto{
    font-family: 'Montserrat', sans-serif;
}

.contac{
    background-color: #D2DAFF;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
}